<header class="text-center">
  <div class="header bg-secondary text-align-center" style="height:400px; ">
    <div class="title">
      <h1 calss="" style="">YABOU.</h1>
      <p>野望を叫ぼう。</p>
    </div>
  </div>
</header>
<body style="height:800px;">

</body>
<footer>

</footer>
