<body style="height:800px;">
  <html lang="ja">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <style media="screen">
        a:hover{

        }
      </style>

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
      <title>YABOU.</title>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    </head>

    <body>

  	<div id="hello">
  	    <div class="container">
  	    	<div class="row">
  	    		<div class="col-lg-8 col-lg-offset-2 centered">
  	    			<h1>YABOU.</h1>
  	    			<h2>野望を叫ぼう。</h2>
              <a href="/posts/new" class="square_btn centered" id ="main_btn" style="text-decoration:none;">新しい野望を叫ぶ</a>
  	    		</div><!-- /col-lg-8 -->
  	    	</div><!-- /row -->
  	    </div> <!-- /container -->
  	</div><!-- /hello -->

  	<div id="orenge">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-5 centered">
  					<img src="assets/iphone.png" alt="">
  				</div>
  				<div class="col-lg-7 centered">
  					<h3 class="font-weight-bold">”野望”をオモテに</h3>
  					<p>最近、夢や希望を口にしましたか？<br>
              本当はみんな夢や希望を持っているけど口にしない。<br>
              だから、野望を叫ぶための場としてYABUO.は誕生しました。<br>
              明日、来週、１ヶ月後、１年後、まだ先の将来。<br>
              課題をやる、３キロ痩せる、恋人を作る、世界を変える。<br>
              野望に大きさは関係ありません。なんでもいいんです。<br>
              さぁ、あなたのYABOU.を叫びましょう。</p>
  				</div>
  			</div>
  		</div>
  	</div><!-- orenge -->

    <div class="container my-3">
      <div class="row centered mt grid">
        <h3>みんなのYABOU.</h3>
        <div class="mt"></div>
        <div class="col-lg-4">
          <a href="#"><img src="" alt=""></a>
        </div>
        <div class="col-lg-4">
          <a href="#"><img src="" alt=""></a>
        </div>
        <div class="col-lg-4">
          <a href="#"><img src="" alt=""></a>
        </div>
      </div>

      <div class="row mt centered">
        <div class="col-lg-7 col-lg-offset-1 mt">
            <p class="lead">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>
        </div>
        <div class="col-lg-3 mt">
          <a href="/posts/new" class="square_btn centered btn-lg" id ="main_btn2" style="text-decoration:none;">新しい野望を叫ぶ</a>
        </div>
      </div>
    </div>
  	<div id="howto">
  		<div class="container">
        <h3 class="">YABOU.の作り方</h3>
  				<<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
          <div class="row mt centered">
            <div class="col-lg-3" id="step" style="background-color:#24FBFF;">
              <h4>いつまでに？</h4>
              <p>いつから始めるか、<br>
                いつまでに実現させるか、<br>
                期間を定めましょう。</p>
            </div>
            <div class="col-lg-3" id="step" style="background-color:#FF9E59;">
              <h4>あなたの野望は？</h4>
              <p>あなたの持つ野望を<br>
                バシっと宣言しましょう。<br>
                後戻りできなくなるくらいに力強く。</p>
            </div>
            <div class="col-lg-3" id="step" style="background-color:#FF7A1A;">
              <h4>どうやって実現する？</h4>
              <p>その野望を実現、<br>達成するために<br>
                どんな行動・努力をするか<br>
                はっきりと宣言しよう！</p>
            </div>
          </div>
  			</div><!-- /row -->
  		</div><!-- /container -->
  	</div><!-- /howto -->

  	<section id="contact"></section>
  	<div id="social">
  		<div class="container">
  			<div class="row centered">
  				<div class="col-lg-8 col-lg-offset-2">
  					<div class="col-md-4">
  						<a href="#"><i class="fab fa-facebook"></i></a>
  					</div>
  					<div class="col-md-4">
  						<a href="#"><i class="fab fa-twitter"></i></a>
  					</div>
  					<div class="col-md-4">
  						<a href="#"><i class="fa fa-envelope"></i></a>
  					</div>
  				</div>
  			</div>
  		</div><!-- /container -->
  	</div><!-- /social -->


  	<div id="f">
  		<div class="container">
  			<div class="row">
  				<p>text text text text text <i class="fa fa-heart fa-fw"></i>  text text text </p>
  			</div>
  		</div>
  	</div>

    </body>
  </html>

</body>
<footer>

</footer>
