<main style="height:400px;"  class="bg-primary">
  <div class = "main" style = "text-align: center; padding-top:100px">
    <h1 class= "text-center pb-3" style="h-100">New Post</h1>
    <%= render 'form', post: @post %>
    <%= link_to 'Back', posts_path %>
  </div>

</main>
